@model MvcPL.ViewModels.ProfileViewModel
<style>
    .wrap {
        width: 500px;
        height: 500px;
        overflow: hidden;
        margin: 5px;
        position: relative;
    }

    .img-mini {
        position: absolute;
        margin: auto;
        min-height: 100%;
        min-width: 100%;
        /* For the following settings we set 100%, but it can be higher if needed
    See the answer's update */
        left: -100%;
        right: -100%;
        top: -100%;
        bottom: -100%;
    }
</style>
@{
    var photos = Model.GalleryId.ToArray();
    <div class="col-md-12">
        @foreach (var galeryId in photos)
        {
            <div class="col-md-3 wrap">
                <img src="@Url.Action("GetGalleryImage", "Photo", new {id = galeryId})" class="img-responsive img-rounded img-mini" alt="I am" style="width: 100px" />
            </div>
        }
    </div>
}