@model MvcPL.ViewModels.ProfileViewModel
@{
    Layout = "~/Views/Shared/_Profile.cshtml";
}
<div class="col-md-7 col-md-offset-1">
    <div align="center">
        @Html.Partial("_Photos", Model)
    </div>
</div>
