@using MvcPL.ViewModels
@model MvcPL.ViewModels.FriendsViewModel
@{
    Layout = "~/Views/Shared/_Profile.cshtml";
}
<style>
    .green {
        background: #00bc8c;
    }

    .red {
        background: orangered;
    }
</style>

<div class="col-md-7 col-md-offset-1">
    <div align="center">
        @Html.Partial("_Friends", Model)
    </div>
</div>
