@model IList<MvcPL.ViewModels.ProfileViewModel>
    @{
    Layout = "~/Views/Shared/_Profile.cshtml";
    }

<div class="col-md-7 col-md-offset-1">
    <div align="center">
        <h2>
            Friends
        </h2>
        <hr />
        @Html.Partial("_TableForInvites",Model)
    </div>
</div>
