@{
    ViewBag.Title = "Error (500)";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2>500 - Something Blew Up!</h2>
    <p>Oooops! We had an issue on our web site.Why don't you go to the <a href="@Url.Action("Index","Account")"> Login page</a></p>
</body>
</html>
