@{
    ViewBag.Title = "NotFound (404)";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1>404 - NotFound</h1>
    <p> This page doesn't exist. Why don't you go to the <a href="@Url.Action("Index","Account")"> Login page</a></p>
</body>
</html>
